@tailwind base;
@tailwind components;
@tailwind utilities;

div,
p {
	@apply text-gray-900 dark:text-gray-100;
}

.title {
	@apply font-bold text-2xl leading-6 text-gray-800 dark:text-gray-200;
}

.subtitle {
	@apply font-semibold text-xl text-gray-600 dark:text-gray-400;
}

.card {
	@apply bg-white dark:bg-gray-700 rounded-lg border border-gray-200 dark:border-gray-500 px-8 py-5;
}

/* ========== Modal styling == */
.backdrop {
	@apply fixed top-0 left-0 right-0 bottom-0 bg-black/50;
}

.modal {
	@apply fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center;
	pointer-events: none;
}
.modal .contents {
	@apply min-w-[250px] lg:min-w-[500px] xl:min-w-[800px] rounded-lg px-8 py-6 bg-white dark:bg-gray-800 flex flex-col justify-between;
	pointer-events: auto;
}
.modal .body {
	@apply mt-6;
}
.modal .actions {
	@apply flex justify-end items-center gap-4 mt-5;
}
.modal .floating-close-button {
	@apply absolute bottom-0 left-0  z-10;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #4c8bf8;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: #357af3;
}
